/* reset CSS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* ------------ */
.imgLogo {
	width: 65%;
}

#headerSupport {
	color: #046056 !important;
}

/* navbar */
.navbar-normal {
	position: absolute;
	width: 100%;
	background-color: #046056;
	transition: all 0.3s ease-in-out;
}

.navbar-sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: #046056;
	z-index: 1000;
	padding: 10px 0;
	transition: all 0.3s ease-in-out;
}
/* end navbar */

/* login component */
#btnLogin {
	color: white;
	padding: 10px;
	font-weight: 500;
	font-size: clamp(14px, 2vw, 16px); /* Giữ kích thước chữ linh hoạt */
	transition: all 0.3s ease-in-out;
	background-color: #046056;
}

#btnLogin:hover {
	background-color: #044e45;
}

#loginBG {
	background-image: url("/public/images/courtyard-night.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	filter: blur(2px);
	z-index: -1;
}

#loginCard {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 15px;
	color: #046056;
	width: min(90%, 400px);
	padding: 30px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}
/* end login component */

/* admin component */
#managingRooms,
#managingBooking {
	font-size: 24px;
	font-weight: 500;
	color: #046056;
}

#managingRooms:hover,
#managingBooking:hover {
	background-color: #046056;
	color: white !important;
}
/* end admin component */

#headerButton,
#buttonEdit,
#buttonSubmit,
#buttonBack,
#buttonSearch,
#buttonAdd,
#buttonDelete,
#btnMap,
#logoutButton,
#btnDetailBooking,
#btnEditBooking,
#buttonReload,
#buttonAddBooking {
	color: #046056 !important;
	border: 1px solid #046056 !important;
}

#headerButton:hover,
#buttonEdit:hover,
#buttonSubmit:hover,
#buttonBack:hover,
#buttonSearch:hover,
#buttonAdd:hover,
#buttonDelete:hover,
#btnMap:hover,
#logoutButton:hover,
#btnDetailBooking:hover,
#btnEditBooking:hover,
#buttonReload:hover,
#buttonAddBooking:hover {
	color: white !important;
	background-color: #046056;
}

#btnCulinary,
#btnRoom {
	color: #046056 !important;
	border: 2px solid #046056 !important;
}

#btnCulinary:hover,
#btnRoom:hover {
	color: white !important;
	background-color: #046056;
}

/* homepage */
#titleImg {
	background-image: url("/public/images/hp2.jpeg");
	background-size: cover;
	height: 350px;
}

#titleText,
/* end homepage */

/* rooms component  */
#roomsPageImg {
	background-image: url("/public/images/rooms&suites.jpg");
	background-size: contain;
	width: 100%;
	height: 350px;
}

#roomsPageText {
	padding-top: 140px !important;
	color: white;
	font-weight: bold;
}

.page-item .page-link {
	color: #046056;
}

.page-item.active .page-link {
	background-color: #046056;
	border-color: #046056;
	color: white !important;
}

.cardDetail {
	text-decoration: none;
	color: black;
	transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.cardDetail:hover {
	color: #046056;
}

.hover-wrapper {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.hover-image {
	width: 100%;
	display: block;
}
/* end rooms component */

/* detail component */
#priceDetail {
	border: 1px solid #046056;
	background-color: #046056;
	color: white;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 3px;
	margin-top: 10px;
}

#btnBooking {
	background-color: white;
	border: 1px solid #046056;
	color: black;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 3px;
	margin-top: 10px;
}

#btnBooking:hover {
	background-color: #046056;
	border: 2px solid white;
	color: white;
}
/* end detail component */

.play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: transparent;
	border: 7px solid white;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 40px;
	opacity: 1;
	transition: transform 0.3s ease-in-out;
}

.hover-wrapper:hover .play-button {
	transform: translate(-50%, -50%) scale(1.2);
}

/* culinary component */
#culinaryImg {
	background-image: url("/public/images/culinaryBG.jpeg");
	background-size: 100% 120%;
	width: 100%;
	height: 600px;
}

#btnCulinarySf,
#btnCulinaryVnMeal {
	background-color: #ffbd07;
	color: white;
	font-weight: 500;
	font-size: 14px;
}
/* end culinary component */

/* booking component */
#bookingPageImg {
	background-color: white;
	width: 100%;
	height: 100px;
}

#bookingPageText {
	padding-top: 40px !important;
	color: #046056;
	font-weight: bold;
}
/* end booking component */

/* add booking */
#cardDetailRoomBooking {
	background-color: white;
	margin-left: 150px;
}

#cardInformation {
	width: 60%;
}

#cardOverallInformation {
	margin-left: 20px;
	width: 28%;
}

#addCustomerCard,
#addBookingCard,
#addPaymentCard {
	margin-top: 20px;
	margin-left: 150px;
	background-color: white;
}

.accordion-button {
	background-color: white !important;
	color: inherit !important;
	box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
	background-color: white !important;
	color: inherit !important;
	box-shadow: none !important;
	border-bottom: 1px solid #c6ceda !important;
}

.accordion-button:focus {
	background-color: white !important;
	box-shadow: none !important;
}

.floating-input-container {
	position: relative;
	margin-bottom: 1.5rem;
}

.floating-input {
	width: 100%;
	padding: 1rem;
	font-size: 1rem;
	border: 1px solid #c6ceda;
	border-radius: 0.5rem;
	background-color: white;
	transition: all 0.2s ease-in-out;
	outline: none;
}

.floating-input:focus {
	border-color: #046056;
}

.floating-input.floating {
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
}

.floating-label {
	position: absolute;
	left: 1rem;
	transition: all 0.2s ease-in-out;
	pointer-events: none;
	color: #6c757d;
	background-color: white;
	padding: 0 0.25rem;
}

.floating-label.normal {
	top: 50%;
	transform: translateY(-50%);
	font-size: 1rem;
}

.floating-label.floating {
	top: 0.25rem;
	font-size: 0.75rem;
	color: #6c757d;
}

.floating-label.focused {
	color: #046056;
}

#inputFloatingChildren {
	margin-bottom: -20px !important;
}

.floating-input-container .react-select__control {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	border: 1px solid #c6ceda;
	background-color: white;
	box-shadow: none;
	transition: all 0.2s ease-in-out;
	min-height: 48px;
}

.floating-input-container .react-select__control--is-focused {
	border-color: #046056;
	box-shadow: none;
}

.floating-input-container .react-select__control.floating {
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
}

.floating-input-container .floating-label {
	position: absolute;
	left: 1rem;
	transition: all 0.2s ease-in-out;
	pointer-events: none;
	background-color: white;
	padding: 0 0.25rem;
	z-index: 2;
}

.floating-input-container .floating-label.normal {
	top: 50%;
	transform: translateY(-50%);
	font-size: 1rem;
}

.floating-input-container .floating-label.floating {
	top: 0.25rem;
	font-size: 0.75rem;
	color: #6c757d;
}

.floating-input-container .floating-label.focused {
	color: #046056;
}

.floating-input-container .react-select__single-value {
	color: #212529;
	font-size: 1rem;
}

/* end add booking */

/* booking detail */
#iconCustomer,
#iconBooking,
#iconPay {
	color: #046056 !important;
	font-size: 30px;
	margin-bottom: 5px;
}

.bookingRoomDetail {
	text-decoration: none;
	color: #046056;
}

.bookingRoomDetail:hover {
	font-weight: 500;
}
/* end booking detail */

/* footer */
.localTableFooter {
	margin-left: -6px;
}

.localTableFooter tr {
	width: 90%;
	background-color: #f3f3f3;
	border-bottom: 0.5px solid #949494;
}

.localTableFooter tr:last-child {
	border-bottom: none;
}

.localTableFooter td {
	padding: 8px;
}

.localTableFooter span {
	padding-left: 25px;
}
/* end footer */
