/* reset CSS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* ------------ */
#container {
	height: 80px;
	background-color: #046056;
}

.imgLogo {
	width: 65%;
}

#headerSupport {
	color: #046056 !important;
}

#headerButton,
#buttonEdit,
#buttonSubmit,
#buttonBack {
	color: #046056 !important;
	border: 1px solid #046056 !important;
}

#headerButton:hover,
#buttonEdit:hover,
#buttonSubmit:hover,
#buttonBack:hover {
	color: white !important;
	background-color: #046056;
}

#titleImg {
	background-image: url("../src/hp2.jpeg");
	background-size: cover;
	height: 430px;
}

#titleText {
	padding-top: 170px !important;
	color: white;
	font-weight: bold;
}

.cardDetail {
	text-decoration: none;
}

.detailInformation {
	font-size: 18px;
}

.page-item .page-link {
	color: #046056;
}

.page-item.active .page-link {
	background-color: #046056;
	border-color: #046056;
	color: white !important;
}
